html,
body {
  font-family: "Roboto", sans-serif;
}

.navButton {
  border: 2px solid transparent;
  border-radius: 2px;
  transition: border-color 0.5s ease;
  font-weight: 400;
  width: 150px;
  padding: 5px;

  &:hover {
    cursor: pointer;
    border: 2px white solid;
    border-radius: 10px;
  }
}
/* 
.fadeEffect {
  background-color: blue;
}

.fadeEffect::before {
  content: "";
  position: sticky;
  top: 0;
  height: 100px; 
  background-image: linear-gradient(
    to bottom,
    rgb(255, 13, 13),
    rgba(180, 0, 0, 0)
  );
  z-index: 1;
  background-color: red;
} */

/* .custom-scrollbar {
  background-color: blue;
} */

/* Adding !important to test for conflicts */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  border-radius: 10px !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888 !important;
  border-radius: 10px !important;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin !important;
  scrollbar-color: #888 #f1f1f1 !important;
}
